* {
    margin: 0;
}


body {
    background: #2b2a33;
    caret-color: transparent;
    font-family: 'Roboto', Arial, sans-serif;
}

.mainHeader {
    position: relative;
    background: #0d0d0d;
    padding: 35px 100px;
}

.mainHeaderLine {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    right: 1%;
}

.mainPage {
    display: inline-block;
    text-decoration: none;
    user-select: none;
    color: white;
    font-weight: bold;
    font-size: 25px;
    padding-right: 40px;
}

